body{
    background-color: rgb(118, 216, 53);
    font-style: Arial;
    margin: 0;
    margin-top: 0;
}

.lado{
}

.um{
    text-align: center;
}

.dois{
    text-align: center;
}

.tres{
    text-align: center;
}

header{
    margin-top: 0;
    background-color: rgb(4, 65, 24);
    color: white;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 10;
}


#logo{
    width: 170px;
    height: 90px;
    margin-left: -60%;
}

.imagem1{
    text-align: center;
    width: 900px;
    height: 600px;
}

.frase{
    margin-right: 40px;
    margin-left: 40px;
}

.imagem2{
    text-align: center;
    width: 500px;
    height: 350px;
}

.imagemfundo{
    background: rgb(4, 65, 24);
    color: white;
    background: cover;
    position: relative;
}

#img1{
    width: 35%;
    height: 35%;
    float: right;
    margin-right: 150px;
    margin-left: 40px;
} 

#img2{
    width: 35%;
    height: 35%;
    margin-right: 40px;
    margin-left: 150px;
}

#img3{
    width: 35%;
    height: 35%;
    float: right;
    margin-right: 150px;
    margin-left: 80px;

}

#fs1{
    margin-right: 40px;
    margin-left: 200px;
    text-align: center;
}

#formas{
    background-color: rgb(184, 255, 137);
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 0px;
}

.poluicao{

}

.video{
    background-color: rgb(184, 255, 137);
}

footer{
    background-color: rgb(4, 65, 24);
    color: white;
}

@media screen and (max-width: 1000px) {
    #img2{
        width: 200px;
    }
    #img1{
        width: 200px;
    }
}

@media screen and (max-width: 1000px) {
    #img2{
        width: 200px;
    }
    #img1{
        width: 200px;
    }
}

@media screen and (max-width: 1000px) {
    #img3{
        width: 200px;
    }
    #fs1{
        width: 200px;
    }
}


